

.main-one{width: 100%;height: 604px;background-image: url(../img/three_02.png);background-size: 100% 100%;background-repeat: no-repeat;}
.main-one-1{width: 100%;height: 59px;background-image: url(../img/four_02.png);opacity: 0.3;background-size: 100% 100%;background-repeat: no-repeat;}
.main-one-1 ul{display: flex;justify-content: space-between;margin-left: -65px;margin-right: 260px;}
.main-one-1 ul li{list-style: none;}
.main-one-1 ul li a{color: #038dd8;font-size: 14px;line-height: 59px;}
.main-one-1 ul li a:hover{color: black;}

.main-one-2{width: 100%;height: 13px;background-image: url(../img/four_04.png);background-size: 100% 100%;background-repeat: no-repeat;margin-top: 532px;}

.main-two{widows: 100%;height:398px ;}
.main-two .wrap{display: flex;justify-content: space-around;margin: 0px auto;}
.main-two-right{width: 249px;height: 297px;border-radius: 10%;background: #bc45a7;margin-top: 57px;}
.main-two-right img{margin-left:87px;margin-top: 22px;}
.main-two-right li{list-style: none;color: #ffffff;font-size: 14px;text-align: center;}
.main-two-right p{text-indent: 25px;color: #ffffff;font-size: 14px;margin-top: 20px;}
.main-two-right input[type="submit"]{width: 117px;height: 25px;border-radius: 35%;color: #bc45a7;font-size: 12px;background: #efd1e9;margin-left: 57px;margin-top: 24px;}

.main-two-left{width: 706px;height: 229px;margin-top: 57px;margin-left: -200px;display:flex ;justify-content: space-between;}
.main-two-left1{width: 210px;height:229px;margin-left: 25px;}
.main-two-left1 img{margin-left: 70px;margin-top: 25px;}
.main-two-left1-1 li{list-style: none;font-size: 12px;color:#009ae2;margin-top: 10px;text-align: center;}
.main-two-left1-2{color: #989898;font-size: 12px;}

.main-three{width:100%;height:787px;display: flex;justify-content: space-around;background: #f3fbfe;}
.main-three1{width:674px;height: 568px;margin-top: 78px;margin-left: -200px;position: relative;}
.main-three1 img{width:674px;height: 568px;}
.main-three2-1-1{background: #725632;height: 69px;width: 592px;opacity: 0.5;position: absolute;top:1393px;}

.main-three2{width:595px;margin-top: 78px;height:656px;display: flex;justify-content: space-around;display: block;margin-left: -400px;;}
.main-three2-1 img{width:595px;height: 283px;;}
.main-three2-2{width:595px;display: flex;justify-content: space-between;}
.main-three2-2 img{width: 280px;height: 295px;}
.main-three2-2 ul{display: flex;justify-content: space-between;}
.main-three2-2 ul li{list-style: none;}
.main-three2-right-1{width: 278px;height: 117px;background: #9d8572;position: absolute;top:1665px;opacity: 0.5;}

.main-four{width: 100%;height: 376px;}
.main-four-box{display: flex;justify-content: space-between;width: 1000px;height: 218px;;border: 1px solid #e0e0e0;margin: 0px auto;margin-top: 51px}
.main-four-box1{margin-top: 55px;}
.main-four-box2 ul{display: flex;justify-content: space-between;margin-top: 21px;}
.main-four-box2 li{list-style: none;margin-left: 14px;}
.main-four-box3 img{margin-top: 69px;}

